em, i {
  font-family: $cursive-font;
  font-style: normal;
}



body {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  color: $text-color;
  background-color: $background-color;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 