{{ $current_url := .Permalink | relURL }}
<small class="top-nav">
  {{ if eq $current_url "/" }}
  <a class="active" href="/">~/Home</a>
  {{ else }}
  <a href="/">~/Home</a>
  {{ end }}
  <!--.-->
  <!-- {{ if eq $current_url "/work/" }}
  <a class="active" href="/work/">~/Work</a>
  {{ else }}
  <a href="/work/">~/Work</a>
  {{ end }} -->
  <!---->
  <!-- {{ if eq $current_url "/about/" }}
  <a class="active" href="/about/">~/About</a>
  {{ else }}
  <a href="/about/">~/About</a>
  {{ end }} -->
  <!--.-->

  {{ if eq $current_url "/notes/" }}
  <a class="active" href="/notes/">~/Notes</a>
  {{ else }}
  <a href="/notes/">~/Notes</a>
  {{ end }}
    <!--.-->
  {{ if eq $current_url "/categories/" }}
  <a class="active" href="/categories/">~/Categories</a>
  {{ else }}
  <a href="/categories/">~/Categories</a>
  {{ end }}
  <!--.-->

  <!-- {{ if eq $current_url "/daily-logs/" }}
  <a class="active" href="https://g-savitha.github.io/Logs/">~/Daily Logs</a>
  {{ else }}
  <a href="https://g-savitha.github.io/Logs/">~/Daily Logs</a>
  {{ end }} -->
  <!--.-->
  <!--.-->
</small>

<a
  href='{{ "/" | absURL }} '
  style="text-align: center; display: block; margin-top: 3rem"
>
  <div class="logo">
    <span>#"</span><span>Savitha's Notes</span><span>"</span>
  </div>
</a>
